<div class="breadcrumbs-wrap">
    <ol class="breadcrumbs breadcrumbs--icon" aria-label="Breadcrumbs">
        <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
                <span class="breadcrumbs__item-name">Главная</span>
            </a>
        </li>

        <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
                <span class="breadcrumbs__item-name">Услуги</span>
            </a>
        </li>

        <li class="breadcrumbs__item" aria-current="page">
            <span class="breadcrumbs__item-name">Детальная страница услуги</span>
        </li>
    </ol>
</div>