<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@title</title>
    <meta name="theme-color" content="#ffffff" id="theme-color-meta" />


<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">


    <script src="https://api-maps.yandex.ru/v3/?lang=ru-RU&amp;apikey=7e691b4f-6f70-4be2-9b8e-472fcc3dcc19" type="text/javascript"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

    <!--  <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">-->
    <!--  <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">-->
    <!--  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">-->
    <!--  <meta name="msapplication-TileColor" content="#0d6efd">-->
    <!--  <meta name="theme-color" content="#0d6efd">-->
    <!--  <meta name="viewport" content="width=device-width, user-scalable=no">-->
    <script defer src="./assets/js/vendor.js"></script>
    <script defer src="./assets/js/main.js"></script>

    <!--  <link rel="stylesheet" href="./assets/css/fonts.css">-->
    <link rel="stylesheet" href="./assets/css/vendor.css">
    <link rel="stylesheet" href="./assets/css/main.css">
</head>
