<div class="pagination">
    <ul class="pagination__list">
        <li class="pagination__item pagination__item_prev">
            <a href="#" class="pagination__link">Назад</a>
        </li>

        <li class="pagination__item">
            <a href="#" class="pagination__link dark-link">1</a>
        </li>

        <li class="pagination__item pagination__item_active">
            <span class="pagination__link">2</span>
        </li>

        <li class="pagination__item">
            <a href="#" class="pagination__link dark-link">3</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link dark-link">4</a>
        </li>
        <li class="pagination__item pagination__item_next">
            <a href="#" class="pagination__link">Далее</a>
        </li>
    </ul>

    <button class="load-more-items btn mb-8">
        <i class="svg inline" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M4 4V9H4.58152M19.9381 11C19.446 7.05369 16.0796 4 12 4C8.64262 4 5.76829 6.06817 4.58152 9M4.58152 9H9M20 20V15H19.4185M19.4185 15C18.2317 17.9318 15.3574 20 12 20C7.92038 20 4.55399 16.9463 4.06189 13M19.4185 15H15" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </i>
        Загрузить еще
    </button>
</div>