<a href="#" class="blog-card blog-card--cover h-280" style="background-image: url('@images');">
    <div class="blog-card__body">
        <div class="blog-card__top">
            <time class="blog-card__date" datetime="2020-02-12">Feb 12, 2020</time>
        </div>
        <div class="blog-author">
            <img class="blog-author__avatar" src="https://max.hubsup.ru/upload/iblock/268/h7wuzlw83fbaz237g5367cff10wm6x2i.jpg" alt="" width="40" height="40" loading="lazy">
            <div class="blog-author__info">
                <span class="blog-author__name">Tom Cook</span>
                <span class="blog-author__role">Director of&nbsp;Product</span>
            </div>
        </div>
        <h3 class="blog-card__title text-xl">Как&nbsp;ухаживать за&nbsp;полиэстером, чтобы сохранить цвет</h3>
    </div>
</a>