<article class="blog-card blog-card--text-only bg-card py-20 px-24">
    <div class="blog-card__body d-f fd-c gap-4 h-100">
        
        <div class="blog-card__top text-sm d-f ai-c gap-8">
            <time class="blog-card__date" datetime="2020-03-16">5 февраля 2026</time>
            <a href="#" class="blog-card__category-pill label">Маркетинг</a>
        </div>

        <h3 class="text-xl blog-card__title m-0 fw-normal"><a href="#" class="dark-link">@name</a></h3>

        <div class="blog-card__excerpt text-reset line-clamp-3 mb-8 text-sm">
            @text
        </div>

        <div class="blog-author d-f ai-c gap-4 mt-auto">
            <picture class="blog-author__avatar img img--1-1 img-round w--40 h--40" >
                <img src="@author_img" alt="" loading="lazy">
            </picture>

            <div class="blog-author__info flex-1 d-f fd-c text-sm mt-auto">
                <a href="#" class="blog-author__name dark-link">@author_name</a>
                <span class="blog-author__role">@author_post</span>
            </div>
        </div>
    </div>
</article>