<article class="card d-f fd-c gap fd-md-c p-16 border rounded-md relative" data-item="">
    <div class="card__images h-280">
        <picture class="img img--4-3 h-280">
            <!-- <source srcset="https://bitrix-developers.ru/upload/resize_cache/iblock/c11/800_800_1/ktpezkdjur11i0800xharfklanphw0ct.avif" type="image/avif">-->
            <!-- <source srcset="https://bitrix-developers.ru/upload/resize_cache/iblock/c11/800_800_1/ktpezkdjur11i0800xharfklanphw0ct.webp" type="image/webp">-->
            <img src="@images" alt="Ночная рутина для кожи: ретинол, кислоты и пептиды — как сочетать без раздражения (план на 4 недели)" title="Ночная рутина для кожи: ретинол, кислоты и пептиды — как сочетать без раздражения (план на 4 недели)" loading="lazy">
        </picture>
    </div>

    <div class="card__inner d-f fd-c flex-1 d-f fd-c ai-fs gap-16">
        <div class="card__inner-top d-f fd-c ai-fs gap-16">
            <div class="d-f fd-c gap-4">
                <a href="#" class="card__category text-sm grey-link">@section</a>
                <a href="#" class="card__name d-b text-xxl fw-500 dark-link lh-1">@name</a>
            </div>

            <div class="text line-clamp-4">
                @text
            </div>
        </div>

        <a href="" class="btn btn-secondary d-md-n mt-auto">
            <i class="icon icon--18">
                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                </svg>
            </i>
        </a>
    </div>
    <a href="#" class="absolute inset"></a>
</article>