<article class="card card--project card--interactive">
    <div class="card__media">
        <picture class="img img--3-2 img--cover">
            <img
                    src="https://vag-armaturen.ru/upload/iblock/6a4/hzucrgb5yy2ogbrknv7oycdxd09du422.jpg"
                    alt="Арматура VAG на крупнейших объектах в металлургической отрасли страны — Магнитогорский металлургический комбинат"
                    loading="lazy"
            >
        </picture>

        <div class="card__overlay"></div>
    </div>

    <div class="card__body">
        <a href="#" class="card__category">
            Промышленность
        </a>

        <h3 class="card__title">
            <a href="#" class="card__title-link">
                Арматура VAG на крупнейших объектах в металлургической отрасли страны — Магнитогорский металлургический комбинат (ММК)
            </a>
        </h3>
    </div>

    <a href="#" class="card__overlay-link" aria-label="Открыть проект"></a>
</article>