<article class="card card--document card--document-centered card--document-compact card--interactive">
    <div class="card__media">
        <picture class="img img--contain img--radius-md">
            <img src="https://corporate.hubsup.ru/upload/iblock/727/kbruyefwx5vma88mmvbeirqxyp03xdsy.jpg" alt="Сертификат соответствия">
        </picture>
    </div>

    <div class="card__body">
        <h3 class="card__title">Сертификат соответствия</h3>
        <div class="card__meta">PDF · 248 кб</div>
    </div>

    <a data-fancybox="licenses-1" data-src="https://corporate.hubsup.ru/upload/iblock/727/kbruyefwx5vma88mmvbeirqxyp03xdsy.jpg" class="card__overlay-link" aria-label="Открыть сертификат соответствия"></a>
</article>