<article class="card card--video card--interactive">
    <div class="card__media">
        <picture class="img img--3-2 img--cover">
            <img src="https://usp-ek.ru/uploadedFiles/catalogimages/big/izgotovlenie-metallokonstruktsij.jpg" alt="Металлопрокат — что это и зачем он нужен?" title="Металлопрокат — что это и зачем он нужен?" loading="lazy">
        </picture>

        <div class="card__overlay"></div>

        <span class="card__video-play" aria-hidden="true">
            <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32.000000" height="32.000000" fill="none">
                <path id="Вектор 16" d="M6.80695 0.705575C3.92197 -0.949291 1.58301 0.406395 1.58301 3.73116L1.58301 28.2665C1.58301 31.5946 3.92197 32.9485 6.80695 31.2952L28.2521 18.9966C31.138 17.3411 31.138 14.6591 28.2521 13.004L6.80695 0.705575Z" fill="currentColor" fill-rule="nonzero" />
            </svg>
        </span>

        <div class="card__video-time">01:24</div>
    </div>

    <div class="card__body">
        <h3 class="card__title">
            <a href="#" class="card__title-link">
                Металлопрокат — что это и зачем он нужен?
            </a>
        </h3>
    </div>

    <a href="#" class="card__overlay-link" aria-label="Открыть видео"></a>
</article>