<article class="card card--document card--document-horizontal card--interactive">
    <div class="card__media">
        <picture class="img img--contain img--radius-md">
            <img src="https://corporate.hubsup.ru/upload/iblock/727/kbruyefwx5vma88mmvbeirqxyp03xdsy.jpg" alt="Сертификат соответствия">
        </picture>
    </div>

    <div class="card__body">
        <h3 class="card__title">Сертификат соответствия</h3>

        <div class="card__excerpt text-reset">
            <p>
                Сертификат соответствия — документ, подтверждающий соответствие продукции требованиям качества и безопасности,
                установленными для неё действующими стандартами и правилами.
            </p>
        </div>
    </div>

    <span class="card__icon" aria-hidden="true">
        <svg class="icon" viewBox="0 0 24 24" fill="none">
          <path d="M4 8V4M4 4H8M4 4L9 9M20 8V4M20 4H16M20 4L15 9M4 16V20M4 20H8M4 20L9 15M20 20L15 15M20 20V16M20 20H16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </span>

    <a data-fancybox="licenses-1" data-src="https://corporate.hubsup.ru/upload/iblock/727/kbruyefwx5vma88mmvbeirqxyp03xdsy.jpg" class="card__overlay-link" aria-label="Открыть сертификат соответствия"></a>
</article>